.test-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  
}

.hexForm {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 50px;
}