.boosterPage {
  display: flex;
  flex-direction: row;
  overflow-x: auto;

  height: 100vh;

  /* background-color: var(--main-bg-color); */
}

.boosterPage::-webkit-scrollbar {
  display: none;
}


.boosterPage-core {
  display: flex;
  flex-direction: column;

  margin-left: 5px;
}

.boosterPage-launchBlock {
  color: white;
  height: 25px;
  width: 25px;
  margin: 2px;
}

.boosterPage-launchBlock-upcoming {
  /* color: white; */
  height: 25px;
  width: 25px;
  margin: 2px;
  border-style: double;
  background-color: gray;
  
}
.boosterPage-launchBlock-noattempt {
  height: 25px;
  width: 25px;
  margin: 2px;
  border-style:groove;
}
.boosterPage-launchBlock-fail {
  height: 25px;
  width: 25px;
  margin: 2px;
  border-style: solid;
  background-color: rgb(231, 136, 136);
}
.boosterPage-launchBlock-ocean {
  height: 25px;
  width: 25px;
  margin: 2px;
  border-style: solid;
  background-color: rgb(197, 157, 82);
}
.boosterPage-launchBlock-RTLS {
  height: 25px;
  width: 25px;
  margin: 2px;
  border-style: solid;
  background-color: rgb(147, 199, 147);
}
.boosterPage-launchBlock-ASDS {
  height: 25px;
  width: 25px;
  margin: 2px;
  border-style: solid;
  background-color: rgb(173, 203, 221);
}

.boosterPage-status-active {
  background-color: green;
}
.boosterPage-status-lost {
  background-color: red;
}
.boosterPage-status-unknown {
  background-color: white;
}
.boosterPage-status-expended {
  background-color: yellow;
}
.boosterPage-status-inactive {
  background-color: gray;
}