.filter {
  background-color: #ebe5d9;
  
  /* padding-top: 20px; */
}

/* filter-option */
/* =============================== */
.filter-years {
  padding: 0 5.5vw 0 5.5vw;
  display: flex;
  flex-wrap: wrap;
  /* justify-content:space-between; */
}

.filter-option {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

/* filter-button */
/* =============================== */
.SelectButton-active {
  color: #2e608b;
}

.SelectButton-inactive {
  color: rgb(158, 155, 155);
}

button {
  padding: 10px 5px 10px 5px;
  margin: 5px;
  line-height: 0.5;

  font-weight: 400;
  font-size: 30px;

  background-color: #ebe5d9;

  max-width: fit-content;
  max-height: fit-content;

  border: none;

  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;

  white-space: nowrap;
}

/* node */
/* =============================== */

.filter-nodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2vw 0 2vw 0;
  
}

.new-node {
  display: flex;
  flex-direction: column;

  background-color: rgb(95, 132, 165);

  border-radius: 20px;

  width: 300px;
  height: 210px;
  margin: 20px;
}

/* .filter-node :hover {
  background-color: rgb(110, 146, 163);
} */

.new-node-first {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-node-first-patch {
  /* position: absolute; */
  margin-top: -25px;
  margin-left: 20px;
  width: 110px;
  height: 110px;
}

.new-node-first-number {
  font-size: 100px; 
  font-weight: 200;

  line-height: 0.8;
  color: #ebe5d9;
}

.new-node-second {
  /* display: flex;
  align-items: flex-end; */

  padding: 10px 10px 0px 60px;
  height: 50px;

  text-align: end;

  font-size: 25px; 
  font-weight: 200;

  line-height: 1.1;
  color: #ebe5d9;
}

.new-node-third {
  display: flex;
  justify-content: space-between;

  padding: 8px 10px 5px 10px;

  text-align: end;

  font-size: 15px; 
  font-weight: 200;

  line-height: 1;
  color: #ebe5d9;
}

.new-node-reuse {
  font-size: 18px;
}

.new-node-last {
  display: flex;
  justify-content: space-between;

  padding: 2px 10px 10px 10px;

  font-size: 20px; 
  font-weight: 200;

  color: #ebe5d9;
}

.new-node-link {
  padding: 0 2px 0 2px;
  color: #ebe5d9;
}




