.filter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.filter-years {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter-nodes {
  display: flex;
  flex-wrap: wrap;
}

.filter-node {
  width: 100px;
  margin: 10px;
  border-style: solid;
}

.filter-node-reused {
  width: 100px;
  margin: 10px;
  border-style: solid;
  color: rgb(57, 128, 57);
}

.filter-node-unreused {
  width: 100px;
  margin: 10px;
  border-style: solid;
  color: rgb(206, 102, 102);
}

.SelectButton-active {
  background-color: rgb(158, 158, 197);
  color: white;
  margin: 5px;
}

.SelectButton-inactive {
  margin: 5px;
}