.allCores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 95%;
  background-color: #d9e2e8;
}

.singleCore {
  display: flex;
  flex-direction: column;
  margin: 20px;

  min-width: 180px;
  /* width: fit-content; */

  border-radius: 19px;
  background: #d9e2e8;
  box-shadow:  10px 10px 20px #d0d9df,
               -10px -10px 20px #e2ebf1;
  
}

.singleCore-name {
  width: fit-content;
  
  font-size: 3vh;

  /* move upper */
  margin-top: -15px;
  margin-left: 10px;

  padding: 0 5% 0 5%;
  

  border-radius: 10px;
  background: #e3e6e9;
  box-shadow:  10px 10px 20px #d0d9df,
               -10px -10px 20px #e2ebf1;
}

.launch-patches {
  display: flex;
  padding: 10px;
}

.launch-patch-div {
  margin: 0 5px 0 5px;
}


.launch-patch {
  max-width: 70px;
}
