.launchDetail {
  display: flex;
  flex-direction: column;

  background-color: var(--main-bg-color);
}

/* ==================ControlPanal================== */
.launchDetail-controlPanal {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  padding: 0 2% 0 2%;
  line-height: 0.8;
}

.launchDetail-controlPanal-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: max(23vw, 16em);
}

.launchDetail-controlPanal-button {
  text-decoration: none;
  color: #9e8a79;
  font-size: max(3vw, 35px);
  font-weight: 200;

  text-align: start;
}

/* =============================== */
.launchDetail-first {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;

  padding: 30px 0 10px 0;
}

.launchDetail-first-left {
  border-top: solid;
  /* display: flex; */
  /* flex-direction: column; */
  padding-top: 20px;
  width: 30%;
  /* min-width: 300px; */
  height: 200px;
}

@media (min-width: 600px) and (max-width: 900px) {
  .launchDetail-first-left {
    width: 45%;
  }
}

.launchDetail-first-middle {
  border-top: solid;
  padding-top: 20px;
  width: 30%;
  /* min-width: 300px; */
  
  color: #543f2e;
  /* font-size: 1em; */
  text-align: start;
}

@media (min-width: 600px) and (max-width: 900px) {
  .launchDetail-first-middle {
    width: 45%;
  }
}



.launchDetail-first-right {
  border-top: solid;
  padding-top: 30px;
  width: 30%;
  /* min-width: 300px; */
}

@media (min-width: 600px) and (max-width: 900px) {
  .launchDetail-first-right {
    width: 90%;
  }
}

@media (max-width: 600px) {
  .launchDetail-first-left {
    width: 90vw;
  }

  .launchDetail-first-middle {
    width: 90vw;
  }

  .launchDetail-first-right {
    width: 90vw;
  }
}

/* ==================Left================== */
.launchDetail-patch {
  display: flex;
  justify-content: end;
  opacity: 0.25;

  height: 200px;
}

.launchDetail-basic {
  color: #543f2e;
  font-size: 2em;
  text-align: start;

  height: 300px;
  margin-top: -200px;
}

.launchDetail-basic-name {
  font-size: 1.5em;
}

/* ==================Middle================== */
.launchDetail-core-title {
  font-size: 3em;
}

.launchDetail-core {
  display: flex;
  flex-direction: column;

  width: 95%;
  /* min-width: 300px; */
  margin: 2% 2% 2% 0;

}

.launchDetail-core-h {
  font-size: 1.5em;
}

.launchDetail-core-p {
  font-size: 1.8em;
  font-weight: 200;

  margin-left: 20px;
  margin-bottom: 5px;

  border-bottom: solid 1px;
}

/* ==================Right================== */
.launchDetail-embedVideo {
  width: 100%;
  min-height: 300px;
  /* margin: 2%; */
}

.launchDetail-detail {
  text-align: justify;
  color: #543f2e;
  font-size: 1.3em;
}

@media screen and (max-width: 710px) {
  .launchDetail-controlPanal {
    flex-direction: column;
  }

  .launchDetail-controlPanal {
    flex-direction: column;
  }

  /* .launchDetail-controlPanal-button {
    text-decoration: none;
    font-size: 5vw;
    font-weight: 200;
  } */
}