.launchDetail {
  display: flex;
  flex-direction: column;
}

/* ==================ControlPanal================== */
.launchDetail-controlPanal {
  display: flex;
  flex-direction: row;

  justify-content: space-between;

  padding: 0 40px 0 40px;
  line-height: 0.7;
}

.launchDetail-controlPanal-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 450px;
}

.launchDetail-controlPanal-button {
  text-decoration: none;
  color: #9e8a79;
  font-size: 60px;
  font-weight: 200;
}

/* =============================== */
.launchDetail-first {
  display: flex;
  justify-content: space-evenly;

  padding: 30px 0 10px 0;
}

.launchDetail-first-left {
  border-top: solid;
  /* display: flex; */
  /* flex-direction: column; */
  padding-top: 30px;
  width: 30%;
}

.launchDetail-first-middle {
  border-top: solid;
  padding-top: 30px;
  width: 30%;
  
  color: #543f2e;
  font-size: 40px;
  text-align: start;
}

.launchDetail-first-right {
  border-top: solid;
  padding-top: 30px;
  width: 30%;
}

/* ==================Left================== */
.launchDetail-patch {
  display: flex;
  justify-content: end;
  opacity: 20%;

  height: 300px;
}

.launchDetail-basic {
  color: #543f2e;
  font-size: 40px;
  text-align: start;

  height: 300px;
  margin-top: -300px;
}

.launchDetail-basic-name {
  font-size: 60px;
}

/* ==================Middle================== */
.launchDetail-core-title {
  font-size: 50px;
}

.launchDetail-core {
  display: flex;
  flex-direction: column;

  width: 30vw;
  margin: 2% 2% 2% 0;

}

.launchDetail-core-h {
  font-size: 30px;
}

.launchDetail-core-p {
  font-size: 40px;
  font-weight: 200;

  margin-left: 20px;
  margin-bottom: 5px;

  border-bottom: solid 1px;
}

/* ==================Right================== */
.launchDetail-embedVideo {
  width: 100%;
  min-height: 300px;
  /* margin: 2%; */
}

.launchDetail-detail {
  text-align: justify;
  color: #543f2e;
  font-size: 25px;
}