.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: #ebe5d9;
  margin-top:auto; 
}

.footer-left {

  font-size: 30px;
  color: #543f2e;

  padding: 20px 0 0 15px;
}

.footer-right {
  font-size: 25px;

  padding: 20px 10px 0 0;
  color: #543f2e;
}

.footer-link {
  color: #543f2e;
}