:root {
  --main-font-color: #543f2e;
  --blue-font-color: #2e608b;
  --core-bg-color: #c9c5bd;
}

.App {
  text-align: center;
  background-color: #ebe5d9;

  display:flex; 
  flex-direction:column;
  height:100vh;
}

.coresPage {
  display: flex;
  justify-content: center;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--main-font-color);
  padding: 0 3vw 30px 3vw;

  text-align: start;
}

.intro-title {
  font-size: 50px;
}

.intro-text {
  font-size: 30px;
}


/* button {
  padding: 10px;
  margin: 5px;

  font-weight: 600;
  font-size: 25px;

  max-width: fit-content;
  max-height: fit-content;

  border: solid;
  border-radius: 7px;

  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
} */
